{% extends 'perfil.html' %}

{% block form_editar_perfil %}

<div class="container">
        <hr>  <!-- O hr passa uma linha horizontal-->
        <div class="row">
            <div class="col">
                <form method="POST" action="" class="border p-4 mt-2" enctype="multipart/form-data"> <!-- enctype precisa passar sempre que for subir algum arquivo para o site -->
                    {{ form.csrf_token }} <!-- Sempre colocar o token logo abaixo do form -->
                    <legend>Editar Perfil</legend>  <!-- Substituiu o H1 por legend, ou seja, o título do formulário-->
                    <fieldset> <!-- Organiza os campos do formulário -->
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }}  <!-- o label é o rótulo da caixinha de formulário -->
                            {% if form.username.errors %}  <!-- Para exibir mensagem de erro ao fazer o login-->
                                {{ form.username(class="form-control is-invalid") }} <!-- a class está entre () porque é uma variável do python-->
                            <div class="invalid-feedback">
                                {% for erro in form.username.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}  <!-- o label é o rótulo da caixinha de formulário -->

                            {% if form.email.errors %}  <!-- Para exibir mensagem de erro ao fazer o login-->
                                {{ form.email(class="form-control is-invalid") }} <!-- a class está entre () porque é uma variável do python-->
                            <div class="invalid-feedback">
                                {% for erro in form.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form.email(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.foto_perfil.label }}
                            {{ form.foto_perfil(class="form-control-file") }}
                            {% if form.foto_perfil.errors %}
                                {% for erro in form.foto_perfil.errors %}
                                    <span class="text-danger">{{ erro }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <hr>
                        <p>Cursos</p>
                        {% for campo in form %}
                            {% if 'curso_' in campo.name %}
                                <div class="form-group">
                                    {{ campo(class="form-check-input") }}
                                    {{ campo.label(class="form-check-label") }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                    {{ form.botao_submit_editarperfil(class="btn btn-primary mt-2") }} <!-- a class estiliza o botão -->
                </form>
            </div>
        </div>
    </div>

{% endblock %}